:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.grid {
  max-width: 20rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}
.App{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  width: 5rem;
  height: 5rem;
  font-size: 3rem;
  justify-self: center;
  border: 1px white solid;
  padding: 1px;
  border-radius: 10px;
  user-select: none;
}
button:last-child {
  grid-column: span 2;
  width: calc(10rem + 5px);
}
button:hover {
  padding: 0px;
  border: 3px white solid;
  font-size: 3.5rem;
}
.display {
  min-height: 3.2rem;
  font-size: 1.5rem;
  overflow-wrap: break-word;
  line-height: 1.6rem;
  border: 1px white solid;
  border-radius: 5px;
  width: calc(20rem + 15px);
  margin-bottom: 5px;
}
